<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip" />
        </staticContent>
        <rewrite>
            <rules>

                <rule name="Rewrite to listPage.cfm">
                    <match url="^list.*$" />
                    <action type="Rewrite" url="/views/listPage.cfm" />
                </rule>
                <rule name="Redirect to listPage" stopProcessing="true">
                    <match url="^views/listPage\.cfm$" />
                    <action type="Redirect" url="/list" redirectType="Permanent" />
                </rule>
                <rule name="Rewrite to pdfFile">
                    <match url="pdfFile.*$" />
                    <action type="Rewrite" url="/views/pdfFile.cfm" />
                </rule>
                <rule name="Redirect to pdfFile" stopProcessing="true">
                    <match url="^views/pdfFile\.cfm$" />
                    <action type="Redirect" url="/pdfFile" redirectType="Permanent" />
                </rule>

                <rule name="Rewrite to xlFile">
                    <match url="xlFile.*$" />
                    <action type="Rewrite" url="/views/xlFile.cfm" />
                </rule>
                <rule name="Redirect to xlFile" stopProcessing="true">
                    <match url="^views/xlFile\.cfm$" />
                    <action type="Redirect" url="/xlFile" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
