<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <asp scriptErrorSentToBrowser="true"/>
        <staticContent>
            <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip" />
        </staticContent>
        <rewrite>
            <rules>

                <rule name="Redirect to index" stopProcessing="true">
                    <match url="^index\.cfm$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="login" appendQueryString="false" />
                </rule>
                <rule name="Rewrite to index" stopProcessing="true">
                    <match url="^login$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.cfm" />
                </rule>

                <rule name="Redirect for list" stopProcessing="true">
                    <match url="^views/listPage\.cfm$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="list" appendQueryString="false" />
                </rule>
                <rule name="Rewrite for list" stopProcessing="true">
                    <match url="^list$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="views/listPage.cfm" />
                </rule>

                <rule name="Redirect to pdf" stopProcessing="true">
                    <match url="^pdfFile\.cfm$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="pdfFile" appendQueryString="false" />
                </rule>
                <rule name="Rewrite to pdf" stopProcessing="true">
                    <match url="^pdfFile$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="views/pdfFile.cfm" />
                </rule>

                <rule name="Redirect to xlFile" stopProcessing="true">
                    <match url="^xlFile\.cfm$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="xlfile" appendQueryString="false" />
                </rule>
                <rule name="Rewrite to xlFile" stopProcessing="true">
                    <match url="^xlfile$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="views/xlFile.cfm" />
                </rule>

                <rule name="Redirect to xlWithData" stopProcessing="true">
                    <match url="^xlWithData\.cfm$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="xlWithData" appendQueryString="false" />
                </rule>
                <rule name="Rewrite to xlWithData" stopProcessing="true">
                    <match url="^xlWithData$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="views/xlWithData.cfm" />
                </rule>

                <rule name="Redirect to xlWithoutData" stopProcessing="true">
                    <match url="^xlWithoutData\.cfm$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="xlWithoutData" appendQueryString="false" />
                </rule>
                <rule name="Rewrite to xlWithoutData" stopProcessing="true">
                    <match url="^xlWithoutData$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="views/xlWithoutData.cfm" />
                </rule>
                
                <rule name="Redirect to signup" stopProcessing="true">
                    <match url="^views/signUpPage\.cfm$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="signup" appendQueryString="false" />
                </rule>
                <rule name="Rewrite to signup" stopProcessing="true">
                    <match url="^signup$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="views/signUpPage.cfm" />
                </rule>
                
                <rule name="Redirect to Custom Error Page" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="views/errorPage.cfm" />
                </rule>
            </rules>
            <outboundRules>
                
                <rule name="Outbound Rewrite for login" preCondition="Response">
                    <match filterByTags="A, Form, Img" pattern="^(.*)index\.cfm$" />
                    <action type="Rewrite" value="{R:1}/login" />
                </rule>
                
                <rule name="Outbound Rewrite for list" preCondition="Response">
                    <match filterByTags="A, Form, Img" pattern="^(.*)views/listPage\.cfm$" />
                    <action type="Rewrite" value="{R:1}/list" />
                </rule>
                

                <rule name="Outbound Rewrite for pdf" preCondition="Response">
                    <match filterByTags="A, Form, Img" pattern="^(.*)views/pdfFile\.cfm$" />
                    <action type="Rewrite" value="{R:1}/pdfFile" />
                </rule>
                

                <rule name="Outbound Rewrite for xl" preCondition="Response">
                    <match filterByTags="A, Form, Img" pattern="^(.*)views/xlFile\.cfm$" />
                    <action type="Rewrite" value="{R:1}/xlFile" />
                </rule>
                

                <rule name="Outbound Rewrite for xl with_data" preCondition="Response">
                    <match filterByTags="A, Form, Img" pattern="^(.*)views/xlWithData\.cfm$" />
                    <action type="Rewrite" value="{R:1}/xlWithData" />
                </rule>
                

                <rule name="Outbound Rewrite for xl without_data" preCondition="Response">
                    <match filterByTags="A, Form, Img" pattern="^(.*)views/xlWithoutData\.cfm$" />
                    <action type="Rewrite" value="{R:1}/xlWithoutData" />
                </rule>
                

                <rule name="Outbound Rewrite for signup" preCondition="Response">
                    <match filterByTags="A, Form, Img" pattern="^(.*)views/signUpPage\.cfm$" />
                    <action type="Rewrite" value="{R:1}/signup" />
                </rule>
                
                <preConditions>
                    <preCondition name="Response">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
        <!-- <httpErrors errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/views/errorPage.cfm" responseMode="ExecuteURL" />
        </httpErrors> -->
    </system.webServer>
</configuration>
