<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="HTTP" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="addressbook.local/" />
                </rule>
                
                <rule name="RedirectToListOrPdf" stopProcessing="true">
                    <match url="^(list|pdfFile)$" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="addressbook\.local" />
                    </conditions>
                    <action type="Redirect" url="?action={R:1}" />
                </rule>
                

            </rules>
        </rewrite>
    </system.webServer>
</configuration>
